@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--background: #121212;
	--surface: #1E1E1E;
	--primary: #BB86FC;
	--primary-variant: #3700B3;
	--secondary: #03DAC6;
	--on-background: #FFFFFF;
	--on-surface: #FFFFFF;
    --on-surface-secondary: #979797;
	--on-primary: #000000;
    --on-primary-variant: #FFFFFF;
	--on-secondary: #000000;
	--error: #CF6679;
	--on-error: #000000;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    color: var(--on-background);
}

body {
	background-color: var(--background);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.checked {
    color: orange;
    padding-right: 5px;
}

.card-title {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: var(--on-surface-secondary);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.card-content {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    color: var(--on-surface);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.card-button {
    background-color: var(--primary);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: var(--on-primary);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
}

.card-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: var(--primary-variant);
}

.card-button:active {
    background-color: var(--primary-variant);
    color: var(--on-primary-variant);
}

.link-button {
    font-size: 15px;
    color: var(--on-surface);
    background-color: var(--background);
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.link-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: var(--on-surface-secondary);
}

.link-button:active {
    color: var(--secondary);
}

.mySlides {
    display: none;
}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--on-background);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.text {
    color: var(--on-background);
    font-size: 15px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
}

.numbertext {
    color: var(--on-background);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--primary);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.activeDot, .dot:hover {
    background-color: var(--secondary);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.header {
    background-color: var(--surface);
    box-shadow:
        0px 1px 1px 0px hsla(0,0%,0%,0.14), 
        0px 2px 1px -1px hsla(0,0%,0%,0.12), 
        0px 1px 3px 0px hsla(0,0%,0%,0.2);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.surface {
    background-color: var(--surface);
    box-shadow:
        0px 1px 1px 0px hsla(0,0%,0%,0.14), 
        0px 2px 1px -1px hsla(0,0%,0%,0.12), 
        0px 1px 3px 0px hsla(0,0%,0%,0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
}

.on-surface {
    color: var(--on-surface);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary);
}

.nav-link:hover{
    color: var(--primary-variant);
}

.nav-logo {
    font-size: 3.1rem;
    font-weight: 900;
    color: var(--secondary);
}

@media only screen and (max-width: 780px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--surface);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        border: 1px solid var(--on-background);
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px;
    }
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}